# this notebook will demonstrate how to clean the Tencent Raw Data

the raw dataset in this project is big and messy. We will load it one by one and explain the features.

## load the libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
from scipy.stats import norm
from scipy import stats
from loguru import logger

In [104]:
# open ad_static_feature file
collist = ['Id','Date','AdAccountId','CommodityId','CommodityType','AdIndustryId','AdSize']
with open('ad_static_feature.out') as f:
    df = pd.read_csv(f,sep='\t',names = collist)
# open ad_operation file
collist2 = ['Id','Date','Type','UpdateAttr','UpdateAttrValue']
with open('ad_operation.dat') as f:
    df2 = pd.read_csv(f,sep='\t',names = collist2)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## understand the data

what we need in test dataset:
ID, ADID: discard before use
Date: date the ad is created
AdSize:
AdIndustryId:
CommodityType:
CommodityId:
AdAccountId:
ExposureTime:
Crowd:
Bid:

In [105]:
df.head()

,Id,Date,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize
0,106452,1529958950,22226,16088,13,225,NaN
1,233649,1538221936,25681,7356,13,136,1
2,547531,1550731020,20696,-1,1,186,40
3,707841,1551857857,3968,-1,3,186,40
4,457009,1550439402,23614,7447,13,172,NaN

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735911 entries, 0 to 735910
Data columns (total 7 columns):
Id               735911 non-null int64
Date             735911 non-null int64
AdAccountId      735911 non-null int64
CommodityId      735911 non-null object
CommodityType    735911 non-null int64
AdIndustryId     735911 non-null object
AdSize           509252 non-null object
dtypes: int64(4), object(3)
memory usage: 119.8 MB

In [106]:
def create_ad_static_feature(df):
    # if AdSize = NaN, discard
    df = df.dropna(how='any')
    return df
    
df_ad_static_feature = create_ad_static_feature(df)

In [107]:
df_ad_static_feature.head()

,Id,Date,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize
1,233649,1538221936,25681,7356,13,136,1
2,547531,1550731020,20696,-1,1,186,40
3,707841,1551857857,3968,-1,3,186,40
5,733436,1552977426,22405,31722,5,117,64
6,249105,1552641796,11360,29999,18,145,44

In [112]:
def create_ad_create(df2):
    ad_create = df2[df2['Type'] == 2]
    temp = ad_create.set_index(['Id','Date','Type','UpdateAttr']).unstack()
    temp.columns = [col for col in temp.columns.values]
    temp.columns = ['Bid','Crowd','Time']
    ad_create_sort = temp.reset_index()
    return ad_create_sort

df_ad_create = create_ad_create(df2)
# note when date = 0, we have duplicated results for the same id, 
# when the ad is create, date = 0, the initial setings.
# first check when ads are created
# for each new ad, three attributes are updated: 2,3,4. corresponding to: bid(unit cent),crowd,and exposuretime

In [113]:
df_ad_create.head()

,Id,Date,Type,Bid,Crowd,Time
0,31,0,2,100,area:11442,"281474976694272,281474976694272,28147497669427..."
1,32,0,2,83,area:7572,"70368475742208,70368475742208,70368475742208,7..."
2,69,0,2,180,area:7572,"281474976694272,281474976694272,28147497669427..."
3,84,0,2,100,area:6410,"4398045462528,4398045462528,4398045462528,4398..."
4,85,0,2,70,"age:217,601,202,837,942,638,287,5,394,347,731,...","281474976694272,281474976694272,28147497669427..."

In [158]:
# next we need to find the union of ad_create and ad_static_features

# this is when the ad is created, the features associated with it.

In [234]:
def create_ad_modify(df2):
    # get all modify histoy
    ad_modify = df2[df2['Type'] == 1]
    # change of the state value is not necessary information. discard
    ad_modify = ad_modify[ad_modify['UpdateAttr'] != 1]
    # convert date into epoch seconds
    temp = ad_modify['Date']
    ad_modify['Date'] = (pd.to_datetime(temp,format="%Y%m%d%H%M%S").astype(int) / 10**9).astype(int).astype(str)
    return ad_modify

df_ad_modify = create_ad_modify(df2)

In [235]:
def create_ad_merge(df_ad_static_feature,df_ad_create,df_ad_modify):
    merge1 = pd.merge(df_ad_static_feature,df_ad_create,how='inner',on='Id',sort=True)
    merge2 = pd.merge(merge1,df_ad_modify,how = 'left', on = 'Id')
    merge2_p1 = merge2[merge2['UpdateAttr'] == 2]
    merge2_p1['Bid'] = merge2_p1['UpdateAttrValue']
    merge2_p2 = merge2[merge2['UpdateAttr'] == 3]
    merge2_p2['Crowd'] = merge2_p2['UpdateAttrValue']
    merge2_p3 = merge2[merge2['UpdateAttr'] == 4]
    merge2_p3['Time'] = merge2_p3['UpdateAttrValue']
    merge2_p4 = merge2[merge2['UpdateAttr'].isnull()]
    merge_final = pd.concat([merge2_p1,merge2_p2,merge2_p3,merge2_p4])
    merge_final = merge_final.sort_values("Id",axis = 0)
    drop_list = ['Type_y','UpdateAttr','UpdateAttrValue','Date_y','Type_x']
    merge_final.drop(columns = drop_list, inplace = True)
    renamelist = ['Id','Date_x','Date','Bid','Crowd','Time','AdAccountId','CommodityId',
              'CommodityType','AdIndustryId','AdSize']
    merge_final = merge_final.reindex(columns = renamelist)
    merge_final = merge_final.sort_values(['Id','Date'],axis=0)
    return merge_final

df_ad_merge = create_ad_merge(df_ad_static_feature,df_ad_create,df_ad_modify)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [237]:
df_ad_merge.head()

,Id,Date_x,Date,Bid,Crowd,Time,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize
0,31,1552432970,NaN,100,area:11442,"281474976694272,281474976694272,28147497669427...",12577,18683,13,224,40
1,32,1543563617,1550727091,91,area:7572,"70368475742208,70368475742208,70368475742208,7...",18752,32534,13,136,40
2,32,1543563617,1551110479,90,area:7572,"70368475742208,70368475742208,70368475742208,7...",18752,32534,13,136,40
3,32,1543563617,1551245501,96,area:7572,"70368475742208,70368475742208,70368475742208,7...",18752,32534,13,136,40
4,32,1543563617,1551331895,106,area:7572,"70368475742208,70368475742208,70368475742208,7...",18752,32534,13,136,40

In [328]:
# next deal with totalexposure.log
# this file is huge...break it into chunks
row_count = 500000
expo_colname = ['AdRequestId','Time','LocationId','UserId','Id','AdSize','Bid','pctr','quality_ecpm','total_ecpm']
AdIdSet = set(df_ad_merge['Id'])
chunkcount = 0
for chunk in pd.read_csv('totalExposureLog.out', names = expo_colname, sep='\t', chunksize=row_count):
    x = chunk[chunk['Id'].isin(AdIdSet)]
    chunkcount += len(x)
    print("useful request in this chunk is ",chunkcount)
    x.to_hdf('store_test.h5', key = 'df',format='table',append=True, mode='a')

useful request in this chunk is  19620
useful request in this chunk is  39010
useful request in this chunk is  58199
useful request in this chunk is  77424
useful request in this chunk is  96984
useful request in this chunk is  116377
useful request in this chunk is  135586
useful request in this chunk is  159775
useful request in this chunk is  185847
useful request in this chunk is  212156
useful request in this chunk is  238431
useful request in this chunk is  264960
useful request in this chunk is  291053
useful request in this chunk is  317015
useful request in this chunk is  343499
useful request in this chunk is  370493
useful request in this chunk is  397471
useful request in this chunk is  424010
useful request in this chunk is  450909
useful request in this chunk is  477853
useful request in this chunk is  504538
useful request in this chunk is  531876
useful request in this chunk is  561727
useful request in this chunk is  591346
useful request in this chunk is  621064
useful request in this chunk is  650869
useful request in this chunk is  680441
useful request in this chunk is  710045
useful request in this chunk is  739789
useful request in this chunk is  769555
useful request in this chunk is  799215
useful request in this chunk is  828718
useful request in this chunk is  858294
useful request in this chunk is  887907
useful request in this chunk is  917279
useful request in this chunk is  945971
useful request in this chunk is  974630
useful request in this chunk is  1003405
useful request in this chunk is  1032122
useful request in this chunk is  1060858
useful request in this chunk is  1089715
useful request in this chunk is  1115774
useful request in this chunk is  1140149
useful request in this chunk is  1164189
useful request in this chunk is  1188347
useful request in this chunk is  1212634
useful request in this chunk is  1237045
useful request in this chunk is  1261369
useful request in this chunk is  1285318
useful request in this chunk is  1309237
useful request in this chunk is  1333017
useful request in this chunk is  1356886
useful request in this chunk is  1380882
useful request in this chunk is  1405070
useful request in this chunk is  1428936
useful request in this chunk is  1455521
useful request in this chunk is  1482836
useful request in this chunk is  1509991
useful request in this chunk is  1537575
useful request in this chunk is  1564953
useful request in this chunk is  1592002
useful request in this chunk is  1623421
useful request in this chunk is  1655032
useful request in this chunk is  1686723
useful request in this chunk is  1718391
useful request in this chunk is  1749942
useful request in this chunk is  1781566
useful request in this chunk is  1813187
useful request in this chunk is  1844609
useful request in this chunk is  1876048
useful request in this chunk is  1907317
useful request in this chunk is  1938804
useful request in this chunk is  1970844
useful request in this chunk is  2005255
useful request in this chunk is  2039843
useful request in this chunk is  2074835
useful request in this chunk is  2109993
useful request in this chunk is  2144685
useful request in this chunk is  2177086
useful request in this chunk is  2205228
useful request in this chunk is  2233694
useful request in this chunk is  2262116
useful request in this chunk is  2290461
useful request in this chunk is  2318829
useful request in this chunk is  2346933
useful request in this chunk is  2372193
useful request in this chunk is  2397339
useful request in this chunk is  2422153
useful request in this chunk is  2447111
useful request in this chunk is  2472189
useful request in this chunk is  2497156
useful request in this chunk is  2522567
useful request in this chunk is  2549228
useful request in this chunk is  2576637
useful request in this chunk is  2604297
useful request in this chunk is  2632125
useful request in this chunk is  2659610
useful request in this chunk is  2687038
useful request in this chunk is  2714549
useful request in this chunk is  2744684
useful request in this chunk is  2776163
useful request in this chunk is  2807877
useful request in this chunk is  2839649
useful request in this chunk is  2871116
useful request in this chunk is  2902906
useful request in this chunk is  2934572
useful request in this chunk is  2966384
useful request in this chunk is  2998443
useful request in this chunk is  3030262
useful request in this chunk is  3062253
useful request in this chunk is  3094259
useful request in this chunk is  3126851
useful request in this chunk is  3160018
useful request in this chunk is  3193050
useful request in this chunk is  3226357
useful request in this chunk is  3259540
useful request in this chunk is  3292730
useful request in this chunk is  3325964
useful request in this chunk is  3359481
useful request in this chunk is  3392789
useful request in this chunk is  3425944
useful request in this chunk is  3459160
useful request in this chunk is  3492488
useful request in this chunk is  3524816
useful request in this chunk is  3556353
useful request in this chunk is  3587855
useful request in this chunk is  3619584
useful request in this chunk is  3650990
useful request in this chunk is  3682083
useful request in this chunk is  3712391
useful request in this chunk is  3737641
useful request in this chunk is  3762688
useful request in this chunk is  3787636
useful request in this chunk is  3813140
useful request in this chunk is  3838052
useful request in this chunk is  3863311
useful request in this chunk is  3888255
useful request in this chunk is  3914208
useful request in this chunk is  3941093
useful request in this chunk is  3968076
useful request in this chunk is  3994355
useful request in this chunk is  4020992
useful request in this chunk is  4047796
useful request in this chunk is  4074682
useful request in this chunk is  4102613
useful request in this chunk is  4134772
useful request in this chunk is  4167076
useful request in this chunk is  4199347
useful request in this chunk is  4231789
useful request in this chunk is  4263874
useful request in this chunk is  4296155
useful request in this chunk is  4328427
useful request in this chunk is  4360747
useful request in this chunk is  4393008
useful request in this chunk is  4425025
useful request in this chunk is  4457366
useful request in this chunk is  4489452
useful request in this chunk is  4520410
useful request in this chunk is  4551345
useful request in this chunk is  4582801
useful request in this chunk is  4613719
useful request in this chunk is  4644432
useful request in this chunk is  4675242
useful request in this chunk is  4707280
useful request in this chunk is  4739770
useful request in this chunk is  4772444
useful request in this chunk is  4805351
useful request in this chunk is  4838193
useful request in this chunk is  4870723
useful request in this chunk is  4903565
useful request in this chunk is  4937626
useful request in this chunk is  4971411
useful request in this chunk is  5005241
useful request in this chunk is  5039179
useful request in this chunk is  5073239
useful request in this chunk is  5107453
useful request in this chunk is  5138720
useful request in this chunk is  5167760
useful request in this chunk is  5196805
useful request in this chunk is  5225908
useful request in this chunk is  5255017
useful request in this chunk is  5284213
useful request in this chunk is  5312963
useful request in this chunk is  5341923
useful request in this chunk is  5370551
useful request in this chunk is  5398923
useful request in this chunk is  5427327
useful request in this chunk is  5455593
useful request in this chunk is  5483746
useful request in this chunk is  5511993
useful request in this chunk is  5540287
useful request in this chunk is  5568672
useful request in this chunk is  5603222
useful request in this chunk is  5638070
useful request in this chunk is  5673090
useful request in this chunk is  5707779
useful request in this chunk is  5742541
useful request in this chunk is  5777182
useful request in this chunk is  5811343
useful request in this chunk is  5844955
useful request in this chunk is  5878406

useful request in this chunk is  5912016
useful request in this chunk is  5945800
useful request in this chunk is  5979661
useful request in this chunk is  6005879

In [326]:
opt = pd.read_hdf('store_test.h5', 'df')

In [327]:
opt.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504538 entries, 2 to 10499989
Data columns (total 10 columns):
AdRequestId     504538 non-null int64
Time            504538 non-null int64
LocationId      504538 non-null int64
UserId          504538 non-null int64
Id              504538 non-null int64
AdSize          504538 non-null int64
Bid             504538 non-null int64
pctr            504538 non-null float64
quality_ecpm    504538 non-null float64
total_ecpm      504538 non-null float64
dtypes: float64(3), int64(7)
memory usage: 42.3 MB

In [318]:
opt.shape

(100, 10)

In [322]:
x[200:300].to_hdf('test2.h5',key='df',append=True, mode='a', format='t')

In [323]:
opt2 = pd.read_hdf('test2.h5', 'df')

In [324]:
opt2.shape

(100, 10)