# In this part we will future explore the dataset

## Import libs

In [1]:
import pandas as pd

## load datasets

Load ad exposure log, Load ad_merge and test

In [2]:
df_exposure = pd.read_hdf('store_test.h5',key = 'df')

In [109]:
df_ad_info = pd.read_hdf('df_ad_merge.h5',key = 'df')

In [4]:
df_test = pd.read_hdf('df_testset.h5',key = 'df')

## Future explore

In [5]:
df_exposure.head()

,AdRequestId,Time,LocationId,UserId,Id,AdSize,Bid,pctr,quality_ecpm,total_ecpm
2,66156247,1550416600,18,808543,92253,40,96,3.824,76.48,443.584
25,39174722,1550406563,168,374668,109749,14,75,0.893,17.86,84.835
95,42177665,1550350462,297,1325591,717943,20,100,4.015,80.30,481.800
112,19971715,1550365077,247,63803,563411,40,40,8.048,160.96,482.880
180,17553277,1550380435,116,373844,433189,30,18,1.979,39.58,75.202

clean the expolog
+ drop duplicates
+ add "day" attribute

In [6]:
def exposure_clean(df_exposure):
    # before drop has 6005879 records
    temp = df_exposure.drop_duplicates(subset=['AdRequestId','Id'],keep = 'last')
    # after drop has 5952533 records
    # the target is exposure rate(daily), so we need to build an exposure rate attribute
    # first convert time to day
    temp_hours = pd.to_datetime(temp['Time'],unit='s') + pd.DateOffset(hours=8)
    temp_day = temp_hours.dt.date
    temp['day'] = temp_day
    return temp
expo_temp = exposure_clean(df_exposure)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [7]:
def exposure_split_nochange(expo_temp,df_ad_info):
    # for these ads, no modification has done, so they can be directly used.
    df_ad_info_nochg = df_ad_info[df_ad_info['Date'].isnull()]
    expo_nochg = expo_temp[expo_temp['Id'].isin(set(df_ad_info_nochg['Id']))].sort_values('Id')
    df_id_expo = expo_nochg.groupby(['Id','day']).count().groupby('Id').mean().loc[:,'Time']
    # add daily exposure rate to the ad_info table
    df_ad_info_nochg['expo_rate'] = df_id_expo.to_list()
    df_ad_info_nochg[df_ad_info_nochg['Date_x'] == 0]
    return df_ad_info_nochg

In [8]:
df_ad_info_nochg = exposure_split_nochange(expo_temp,df_ad_info)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [194]:
df_ad_info_nochg.shape

(2844, 13)

Next for the ads that have been modified several times
headache.....if an ad is modified several times in a day, then how to count the daily expo??? :(
my solution is to: separrate the ad change to bid, crow and expo
for ads only change bid, create an id called idbid, group them by idbid and date, 
calculate the the mean for every idbid pair.

In [191]:
def exposure_split_change_bid(expo_temp,df_ad_info):
    df_ad_info_chg = df_ad_info[~df_ad_info['Date'].isnull()]
    expo_chg = expo_temp[expo_temp['Id'].isin(set(df_ad_info_chg['Id']))].sort_values('Id')
    x1 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 3.0,'Id']))]
    x2 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 4.0,'Id']))]
    newset = set.union(set(x1['Id']),set(x1['Id']))
    expo_chg_bid = expo_chg[~expo_chg['Id'].isin(newset)]
    #expo_chg_bid = expo_chg
    expo_chg_bid['idbid'] = expo_chg_bid["Id"].map(str) + '_' + expo_chg_bid["Bid"].map(str)
    df_id_expo = expo_chg_bid.groupby(['idbid','day']).count().groupby('idbid').mean().loc[:,'Time']
    ad_chg_bid = df_ad_info_chg[~df_ad_info_chg['Id'].isin(newset)]
    ad_chg_bid['idbid'] = ad_chg_bid["Id"].map(str) + '_' + ad_chg_bid["Bid"].map(str)
    df_ad_info_chg_bid = pd.merge(ad_chg_bid,df_id_expo.to_frame().rename(columns={'Time':'expo_rate'}),on='idbid')
    return df_ad_info_chg_bid

In [192]:
df_ad_info_chg_bid = exposure_split_change_bid(expo_temp,df_ad_info)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [195]:
df_ad_info_chg_bid.head()

,Id,Date_x,Date,Bid,Crowd,Time,UpdateAttr,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize,idbid,expo_rate
0,32,1543563617,1550727091,91,area:7572,"70368475742208,70368475742208,70368475742208,7...",2.0,18752,32534,13,136,40,32_91,5.5
1,32,1543563617,1551110479,90,area:7572,"70368475742208,70368475742208,70368475742208,7...",2.0,18752,32534,13,136,40,32_90,3.0
2,32,1543563617,1551245501,96,area:7572,"70368475742208,70368475742208,70368475742208,7...",2.0,18752,32534,13,136,40,32_96,3.0
3,32,1543563617,1551331895,106,area:7572,"70368475742208,70368475742208,70368475742208,7...",2.0,18752,32534,13,136,40,32_106,3.0
4,32,1543563617,1551504704,97,area:7572,"70368475742208,70368475742208,70368475742208,7...",2.0,18752,32534,13,136,40,32_97,1.0

Now deal with the changes with crowd and expotime

In [202]:
def exposure_split_change_other(expo_temp,df_ad_info):
    df_ad_info_chg = df_ad_info[~df_ad_info['Date'].isnull()]
    expo_chg = expo_temp[expo_temp['Id'].isin(set(df_ad_info_chg['Id']))].sort_values('Id')
    x1 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 3.0,'Id']))]
    x2 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 4.0,'Id']))]
    newset = set.union(set(x1['Id']),set(x1['Id']))
    expo_chg_other = expo_chg[expo_chg['Id'].isin(newset)]
    ad_chg_other = df_ad_info_chg[df_ad_info_chg['Id'].isin(newset)]
    expo_chg_other['idbidday'] = expo_chg_other["Id"].map(str) + '_' + expo_chg_other["Bid"].map(str) +'_' + expo_chg_other["day"].map(str)
    
    temp_hours = pd.to_datetime(ad_chg_other['Date'],unit='s') + pd.DateOffset(hours=8)
    temp_day = temp_hours.dt.date
    ad_chg_other['day'] = temp_day
    ad_chg_other['idbidday'] = ad_chg_other["Id"].map(str) + '_' + ad_chg_other["Bid"].map(str) +'_' + ad_chg_other["day"].map(str)
    #expo_chg_bid['idbid'] = expo_chg_bid["Id"].map(str) + '_' + expo_chg_bid["Bid"].map(str)
    #df_id_expo = expo_chg_bid.groupby(['idbid','day']).count().groupby('idbid').mean().loc[:,'Time']
    
    #ad_chg_bid['idbid'] = ad_chg_bid["Id"].map(str) + '_' + ad_chg_bid["Bid"].map(str)
    #df_ad_info_chg_bid = pd.merge(ad_chg_bid,df_id_expo.to_frame().rename(columns={'Time':'expo_rate'}),on='idbid')
    return expo_chg_other, ad_chg_other

In [203]:
expo_chg_other, ad_chg_other = exposure_split_change_other(expo_temp,df_ad_info)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [201]:
ad_chg_other

,Id,Date_x,Date,Bid,Crowd,Time,UpdateAttr,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize
139,764,1547629065,1551110443,10,"age:217,601,570,79,202,837,602,935,942,638,287...","281474976710655,281474976710655,28147497671065...",2.0,6655,-1,1,90,64
140,764,1547629065,1551110446,10,"age:217,601,570,79,202,837,602,935,942,638,287...","281474976710655,281474976710655,28147497671065...",3.0,6655,-1,1,90,64
286,1957,1550827427,1550856331,80,"age:829,79,847,144|area:10795,11414,10793|educ...","281474976710655,281474976710655,28147497671065...",2.0,12134,-1,1,104,41
287,1957,1550827427,1550940520,100,"age:829,79,847,144|area:10795,11414,10793|educ...","281474976710655,281474976710655,28147497671065...",2.0,12134,-1,1,104,41
288,1957,1550827427,1550966697,80,"age:829,79,847,144|area:10795,11414,10793|educ...","281474976710655,281474976710655,28147497671065...",3.0,12134,-1,1,104,41
290,2155,1552305999,1552338333,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
291,2155,1552305999,1552340821,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20
292,2155,1552305999,1552340825,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20
293,2155,1552305999,1552388741,150,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
294,2155,1552305999,1552391340,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
295,2155,1552305999,1552392698,180,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
296,2155,1552305999,1552405061,200,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
297,2155,1552305999,1552413868,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
298,2155,1552305999,1552469861,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
299,2155,1552305999,1552477194,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20
300,2155,1552305999,1552486551,200,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
301,2155,1552305999,1552500415,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
302,2155,1552305999,1552523461,150,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
303,2155,1552305999,1552525418,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
304,2155,1552305999,1552556898,250,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
305,2155,1552305999,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20
306,2155,1552305999,1552565230,200,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
307,2155,1552305999,1552573879,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
308,2155,1552305999,1552581259,150,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
309,2155,1552305999,1552646266,200,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
310,2155,1552305999,1552646283,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
311,2155,1552305999,1552653817,200,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
312,2155,1552305999,1552665292,160,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
313,2155,1552305999,1552667751,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
314,2155,1552305999,1552733123,190,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",2.0,27493,-1,1,2,20
...,...,...,...,...,...,...,...,...,...,...,...,...
138137,733626,1551765168,1552431951,120,area:12045,"281474972516352,281474972516352,28147497251635...",4.0,8865,10819,13,122,30
138138,733626,1551765168,1552455582,93,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138139,733626,1551765168,1552542009,52,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138140,733626,1551765168,1552565572,61,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138142,733626,1551765168,1552607195,120,area:12045,"281474976694272,281474976694272,28147497669427...",4.0,8865,10819,13,122,30
138141,733626,1551765168,1552607195,120,area:12045,"281474976694272,281474976694272,28147497669427...",3.0,8865,10819,13,122,30
138143,733626,1551765168,1552694825,120,all,"281474976694272,281474976694272,28147497669427...",3.0,8865,10819,13,122,30
138144,733626,1551765168,1552921982,66,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138145,733626,1551765168,1552930951,88,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138146,733626,1551765168,1552932748,99,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138147,733626,1551765168,1552941138,105,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138148,733626,1551765168,1552945333,128,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138149,733626,1551765168,1552989780,71,area:12045,"281474976694272,281474976694272,28147497669427...",2.0,8865,10819,13,122,30
138240,734119,1551822008,1552023628,94,area:11442,"281474976694272,281474976694272,28147497669427...",2.0,6496,19262,13,122,30
138241,734119,1551822008,1552110009,90,area:11442,"281474976694272,281474976694272,28147497669427...",2.0,6496,19262,13,122,30
138242,734119,1551822008,1552196385,93,area:11442,"281474976694272,281474976694272,28147497669427...",2.0,6496,19262,13,122,30
138243,734119,1551822008,1552282718,96,area:11442,"281474976694272,281474976694272,28147497669427...",2.0,6496,19262,13,122,30
138244,734119,1551822008,1552369137,100,area:11442,"281474976694272,281474976694272,28147497669427...",2.0,6496,19262,13,122,30
138245,734119,1551822008,1552867297,100,all,"281474976694272,281474976694272,28147497669427...",3.0,6496,19262,13,122,30
138508,735939,1519897631,1552240549,80,"age:217,837,935,942,638,287,5,731,739,393,366,...","281474976710655,281474976710655,28147497671065...",2.0,80,-1,1,"84,104",14
138509,735939,1519897631,1552241456,80,"age:217,837,935,942,638,287,5,731,739,393,366,...","281474976710655,281474976710655,28147497671065...",3.0,80,-1,1,"84,104",14
138519,736023,1550475160,1550511207,91,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138520,736023,1550475160,1550530777,91,"age:347,753,601,522,229,741,819,479,433|gender...","281474976694272,281474976694272,28147497669427...",4.0,787,-1,1,221,64
138521,736023,1550475160,1550666821,96,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138522,736023,1550475160,1550684970,105,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138523,736023,1550475160,1550685004,125,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138524,736023,1550475160,1550685239,135,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138525,736023,1550475160,1550782878,81,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",2.0,787,-1,1,221,64
138526,736023,1550475160,1550788444,91,"age:347,753,601,522,229,741,819,479,433|gender...","281474976645120,281474976645120,28147497664512...",4.0,787,-1,1,221,64
138527,736023,1550475160,1551828884,91,"age:347,753,601,522,229,741,819,479,433|gender...","281474976710655,281474976710655,28147497671065...",3.0,787,-1,1,221,64

In [69]:
df_ad_info_chg = df_ad_info[~df_ad_info['Date'].isnull()]
expo_chg = expo_temp[expo_temp['Id'].isin(set(df_ad_info_chg['Id']))].sort_values('Id')
x1 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 3.0,'Id']))]
len(set(x1['Id']))
x2 = expo_chg[expo_chg['Id'].isin(set(df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 4.0,'Id']))]
len(set(x2['Id']))
newset = set.union(set(x1['Id']),set(x1['Id']))
len(newset)
#expo_chg_crow = expo_chg[~expo_chg['Id'].isin(newset)]

1486

2942

1486

In [115]:
tt1 = df_ad_info_chg.loc[df_ad_info_chg['UpdateAttr'] == 3.0,:]
temp_hours = pd.to_datetime(tt1['Date'],unit='s') + pd.DateOffset(hours=8)
temp_day = temp_hours.dt.date
tt1['day'] = temp_day
tt1['idbidday'] = tt1["Id"].map(str) + '_' + tt1["Bid"].map(str) +'_' + tt1["day"].map(str)
tt1[tt1['Id'] == 2155].sort_values('Date')

x1['idbidday'] = x1["Id"].map(str) + '_' + x1["Bid"].map(str) +'_' + x1["day"].map(str)
x1[x1['Id'] == 2155].sort_values('Time')

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Id,Date_x,Date,Bid,Crowd,Time,UpdateAttr,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize,day,idbidday
291,2155,1552305999,1552340821,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-12,2155_140_2019-03-12
292,2155,1552305999,1552340825,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-12,2155_140_2019-03-12
299,2155,1552305999,1552477194,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-13,2155_140_2019-03-13
305,2155,1552305999,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-14,2155_140_2019-03-14
330,2155,1552305999,1553002824,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
331,2155,1552305999,1553002830,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
332,2155,1552305999,1553002833,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
333,2155,1552305999,1553002834,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
334,2155,1552305999,1553002835,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
335,2155,1552305999,1553002836,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
336,2155,1552305999,1553002839,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
337,2155,1552305999,1553002841,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
338,2155,1552305999,1553002842,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
339,2155,1552305999,1553002845,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
340,2155,1552305999,1553002849,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
341,2155,1552305999,1553002850,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19
342,2155,1552305999,1553003802,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493,-1,1,2,20,2019-03-19,2155_140_2019-03-19

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,AdRequestId,Time,LocationId,UserId,Id,AdSize,Bid,pctr,quality_ecpm,total_ecpm,day,idbidday
78450942,2393786,1552356143,297,295075,2155,20,140,8.193,163.86,1310.88,2019-03-12,2155_140_2019-03-12
75626778,5803387,1552356783,228,830594,2155,20,140,23.766,475.32,3802.56,2019-03-12,2155_140_2019-03-12
76974365,37555003,1552359370,297,16214,2155,20,140,3.199,63.98,511.84,2019-03-12,2155_140_2019-03-12
76737154,68056844,1552359901,297,209961,2155,20,140,5.963,119.26,954.08,2019-03-12,2155_140_2019-03-12
76049091,81635481,1552362596,228,382878,2155,20,160,14.300,286.00,2574.00,2019-03-12,2155_160_2019-03-12
77866520,10706731,1552364948,297,171968,2155,20,180,3.193,63.86,638.60,2019-03-12,2155_180_2019-03-12
75711064,84450572,1552364969,297,1107430,2155,20,180,6.137,122.74,1227.40,2019-03-12,2155_180_2019-03-12
77542187,20264944,1552365085,297,332500,2155,20,180,1.704,34.08,340.80,2019-03-12,2155_180_2019-03-12
77211295,31615934,1552365564,297,1059998,2155,20,180,5.035,100.70,1007.00,2019-03-12,2155_180_2019-03-12
76365853,38815426,1552365613,228,657517,2155,20,180,3.397,67.94,679.40,2019-03-12,2155_180_2019-03-12
78080733,84826024,1552365837,297,598852,2155,20,180,7.619,152.38,1523.80,2019-03-12,2155_180_2019-03-12
76007367,65070832,1552365973,228,21099,2155,20,180,4.028,80.56,805.60,2019-03-12,2155_180_2019-03-12
75666257,14750407,1552366441,297,805254,2155,20,180,2.077,41.54,415.40,2019-03-12,2155_180_2019-03-12
76163032,1636982,1552366465,297,793127,2155,20,180,4.847,96.94,969.40,2019-03-12,2155_180_2019-03-12
77444842,28990129,1552366615,297,393080,2155,20,180,3.660,73.20,732.00,2019-03-12,2155_180_2019-03-12
77714551,47710367,1552366707,297,376322,2155,20,180,2.301,46.02,460.20,2019-03-12,2155_180_2019-03-12
76679990,43567657,1552366732,297,1240621,2155,20,180,3.371,67.42,674.20,2019-03-12,2155_180_2019-03-12
77266749,31973200,1552366959,297,1188714,2155,20,180,4.748,94.96,949.60,2019-03-12,2155_180_2019-03-12
78075946,65976655,1552367645,297,324703,2155,20,180,3.643,72.86,728.60,2019-03-12,2155_180_2019-03-12
76379416,96303685,1552367902,297,1126132,2155,20,180,3.584,71.68,716.80,2019-03-12,2155_180_2019-03-12
76138502,57730403,1552367995,297,977958,2155,20,180,2.867,57.34,573.40,2019-03-12,2155_180_2019-03-12
77604307,3889487,1552368068,297,30919,2155,20,180,2.920,58.40,584.00,2019-03-12,2155_180_2019-03-12
76000616,58274172,1552368105,297,128089,2155,20,180,3.782,75.64,756.40,2019-03-12,2155_180_2019-03-12
75476022,33328367,1552368188,297,642426,2155,20,180,3.961,79.22,792.20,2019-03-12,2155_180_2019-03-12
75700287,15666737,1552368430,297,77636,2155,20,180,6.053,121.06,1210.60,2019-03-12,2155_180_2019-03-12
76511999,30466676,1552368614,228,352304,2155,20,180,2.840,56.80,568.00,2019-03-12,2155_180_2019-03-12
75677382,75164990,1552368880,297,604760,2155,20,180,3.650,73.00,730.00,2019-03-12,2155_180_2019-03-12
76073571,23310836,1552369213,297,1051520,2155,20,180,2.207,44.14,441.40,2019-03-12,2155_180_2019-03-12
77445202,84159384,1552369268,297,441732,2155,20,180,2.504,50.08,500.80,2019-03-12,2155_180_2019-03-12
77523615,41785833,1552369363,297,773848,2155,20,180,4.832,96.64,966.40,2019-03-12,2155_180_2019-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...
95534726,41287322,1552824320,297,132622,2155,20,180,2.366,47.32,473.20,2019-03-17,2155_180_2019-03-17
95879578,77478383,1552824708,297,726808,2155,20,180,3.768,75.36,753.60,2019-03-17,2155_180_2019-03-17
92742803,83146897,1552824876,228,112028,2155,20,180,2.378,47.56,475.60,2019-03-17,2155_180_2019-03-17
93017510,35806218,1552825586,297,59479,2155,20,180,4.526,90.52,905.20,2019-03-17,2155_180_2019-03-17
92196288,59105162,1552825921,297,1118365,2155,20,180,6.947,138.94,1389.40,2019-03-17,2155_180_2019-03-17
94855150,5231334,1552827863,297,540293,2155,20,150,3.971,79.42,675.07,2019-03-17,2155_150_2019-03-17
92436927,47421217,1552828326,297,483094,2155,20,150,3.074,61.48,522.58,2019-03-17,2155_150_2019-03-17
93240907,93357773,1552829847,297,395486,2155,20,150,3.502,70.04,595.34,2019-03-17,2155_150_2019-03-17
94356205,91331148,1552832220,297,459777,2155,20,150,3.393,67.86,576.81,2019-03-17,2155_150_2019-03-17
92287789,61098204,1552833058,297,14963,2155,20,150,5.024,100.48,854.08,2019-03-17,2155_150_2019-03-17
98235725,14110149,1552840238,297,859350,2155,20,150,4.222,84.44,717.74,2019-03-18,2155_150_2019-03-18
98240422,81265223,1552847172,297,735178,2155,20,150,8.042,160.84,1367.14,2019-03-18,2155_150_2019-03-18
96586423,29561210,1552891679,297,1149835,2155,20,160,3.200,64.00,576.00,2019-03-18,2155_160_2019-03-18
98989063,10163744,1552892336,297,1124715,2155,20,160,6.278,125.56,1130.04,2019-03-18,2155_160_2019-03-18
96628259,15489470,1552893543,297,1038621,2155,20,160,2.045,40.90,368.10,2019-03-18,2155_160_2019-03-18
97328697,71021404,1552894309,297,1220820,2155,20,160,5.416,108.32,974.88,2019-03-18,2155_160_2019-03-18
98786833,60913887,1552895713,297,369004,2155,20,160,3.912,78.24,704.16,2019-03-18,2155_160_2019-03-18
96147130,53386839,1552895810,297,1302069,2155,20,160,2.887,57.74,519.66,2019-03-18,2155_160_2019-03-18
96937494,65804991,1552902638,297,350274,2155,20,160,6.984,139.68,1257.12,2019-03-18,2155_160_2019-03-18
96350466,96588876,1552902786,297,304380,2155,20,160,3.284,65.68,591.12,2019-03-18,2155_160_2019-03-18
98709732,79186132,1552903721,297,786740,2155,20,160,3.004,60.08,540.72,2019-03-18,2155_160_2019-03-18
96568636,33013854,1552903988,297,307183,2155,20,160,2.210,44.20,397.80,2019-03-18,2155_160_2019-03-18
99231693,37929779,1552905646,297,680049,2155,20,160,4.910,98.20,883.80,2019-03-18,2155_160_2019-03-18
96924848,8760162,1552906119,297,320236,2155,20,160,4.234,84.68,762.12,2019-03-18,2155_160_2019-03-18
97356139,848498,1552909305,297,782048,2155,20,160,3.555,71.10,639.90,2019-03-18,2155_160_2019-03-18
97190075,72775296,1552912397,297,1115688,2155,20,160,6.673,133.46,1201.14,2019-03-18,2155_160_2019-03-18
100401235,72259490,1552946220,297,1138846,2155,20,150,2.858,57.16,485.86,2019-03-19,2155_150_2019-03-19
99535895,93972661,1552953273,297,579705,2155,20,150,4.830,96.60,821.10,2019-03-19,2155_150_2019-03-19
100898338,44884369,1552963093,297,1247508,2155,20,150,1.045,20.90,177.65,2019-03-19,2155_150_2019-03-19
100349958,61960854,1553005251,297,957045,2155,20,150,3.918,78.36,666.06,2019-03-19,2155_150_2019-03-19

In [172]:
tt1unique = tt1[tt1['Id'] == 2155].sort_values('Date').drop_duplicates(subset=['idbidday'],keep = 'last')

In [179]:
x1['idbidday'] = x1["Id"].map(str) + '_' + x1["Bid"].map(str) +'_' + x1["day"].map(str)
x1[x1['Id'] == 2155]

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,AdRequestId,Time,LocationId,UserId,Id,AdSize,Bid,pctr,quality_ecpm,total_ecpm,day,idbidday
77266749,31973200,1552366959,297,1188714,2155,20,180,4.748,94.96,949.60,2019-03-12,2155_180_2019-03-12
78080733,84826024,1552365837,297,598852,2155,20,180,7.619,152.38,1523.80,2019-03-12,2155_180_2019-03-12
88918114,591080,1552707272,297,379626,2155,20,200,3.584,71.68,788.48,2019-03-16,2155_200_2019-03-16
98235725,14110149,1552840238,297,859350,2155,20,150,4.222,84.44,717.74,2019-03-18,2155_150_2019-03-18
78468829,59728931,1552405876,228,1072514,2155,20,140,15.053,301.06,2408.48,2019-03-12,2155_140_2019-03-12
87850241,93757700,1552629365,297,1187936,2155,20,200,19.230,384.60,4230.60,2019-03-15,2155_200_2019-03-15
98709732,79186132,1552903721,297,786740,2155,20,160,3.004,60.08,540.72,2019-03-18,2155_160_2019-03-18
93732906,94510205,1552817296,297,1314142,2155,20,180,2.861,57.22,572.20,2019-03-17,2155_180_2019-03-17
100898338,44884369,1552963093,297,1247508,2155,20,150,1.045,20.90,177.65,2019-03-19,2155_150_2019-03-19
95781178,84269794,1552819638,297,652294,2155,20,180,3.390,67.80,678.00,2019-03-17,2155_180_2019-03-17
98240422,81265223,1552847172,297,735178,2155,20,150,8.042,160.84,1367.14,2019-03-18,2155_150_2019-03-18
82735705,35626508,1552533943,297,735178,2155,20,250,4.924,98.48,1329.48,2019-03-14,2155_250_2019-03-14
75476022,33328367,1552368188,297,642426,2155,20,180,3.961,79.22,792.20,2019-03-12,2155_180_2019-03-12
99535895,93972661,1552953273,297,579705,2155,20,150,4.830,96.60,821.10,2019-03-19,2155_150_2019-03-19
92690606,5184471,1552817385,297,622312,2155,20,180,7.332,146.64,1466.40,2019-03-17,2155_180_2019-03-17
76163032,1636982,1552366465,297,793127,2155,20,180,4.847,96.94,969.40,2019-03-12,2155_180_2019-03-12
95534726,41287322,1552824320,297,132622,2155,20,180,2.366,47.32,473.20,2019-03-17,2155_180_2019-03-17
89896330,7027552,1552709305,297,473633,2155,20,200,5.310,106.20,1168.20,2019-03-16,2155_200_2019-03-16
95525701,50606031,1552815067,297,1245458,2155,20,180,3.393,67.86,678.60,2019-03-17,2155_180_2019-03-17
75771327,27057270,1552370054,297,238044,2155,20,180,3.914,78.28,782.80,2019-03-12,2155_180_2019-03-12
96924848,8760162,1552906119,297,320236,2155,20,160,4.234,84.68,762.12,2019-03-18,2155_160_2019-03-18
94046356,7327565,1552811724,297,1119698,2155,20,180,5.381,107.62,1076.20,2019-03-17,2155_180_2019-03-17
77444842,28990129,1552366615,297,393080,2155,20,180,3.660,73.20,732.00,2019-03-12,2155_180_2019-03-12
77445202,84159384,1552369268,297,441732,2155,20,180,2.504,50.08,500.80,2019-03-12,2155_180_2019-03-12
89759889,7106860,1552719874,228,1003096,2155,20,200,2.489,49.78,547.58,2019-03-16,2155_200_2019-03-16
94310173,77381957,1552816313,297,1330401,2155,20,180,2.066,41.32,413.20,2019-03-17,2155_180_2019-03-17
75700287,15666737,1552368430,297,77636,2155,20,180,6.053,121.06,1210.60,2019-03-12,2155_180_2019-03-12
94310050,46564106,1552814705,297,1119709,2155,20,180,3.006,60.12,601.20,2019-03-17,2155_180_2019-03-17
77542187,20264944,1552365085,297,332500,2155,20,180,1.704,34.08,340.80,2019-03-12,2155_180_2019-03-12
76049091,81635481,1552362596,228,382878,2155,20,160,14.300,286.00,2574.00,2019-03-12,2155_160_2019-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...
97356139,848498,1552909305,297,782048,2155,20,160,3.555,71.10,639.90,2019-03-18,2155_160_2019-03-18
88404215,4145287,1552712173,297,116737,2155,20,200,2.703,54.06,594.66,2019-03-16,2155_200_2019-03-16
76195444,5606900,1552373233,297,1283979,2155,20,180,6.350,127.00,1270.00,2019-03-12,2155_180_2019-03-12
92196288,59105162,1552825921,297,1118365,2155,20,180,6.947,138.94,1389.40,2019-03-17,2155_180_2019-03-17
76138502,57730403,1552367995,297,977958,2155,20,180,2.867,57.34,573.40,2019-03-12,2155_180_2019-03-12
92287789,61098204,1552833058,297,14963,2155,20,150,5.024,100.48,854.08,2019-03-17,2155_150_2019-03-17
90249124,69176141,1552712682,297,1096844,2155,20,200,1.950,39.00,429.00,2019-03-16,2155_200_2019-03-16
77754055,86160555,1552369748,297,1182286,2155,20,180,2.247,44.94,449.40,2019-03-12,2155_180_2019-03-12
77866520,10706731,1552364948,297,171968,2155,20,180,3.193,63.86,638.60,2019-03-12,2155_180_2019-03-12
96937494,65804991,1552902638,297,350274,2155,20,160,6.984,139.68,1257.12,2019-03-18,2155_160_2019-03-18
94496976,23452672,1552815255,297,1240621,2155,20,180,2.796,55.92,559.20,2019-03-17,2155_180_2019-03-17
95143173,67759504,1552813012,297,1160182,2155,20,180,7.091,141.82,1418.20,2019-03-17,2155_180_2019-03-17
87222410,13667188,1552636714,297,1001942,2155,20,160,4.054,81.08,729.72,2019-03-15,2155_160_2019-03-15
94544690,71792181,1552807917,297,448549,2155,20,180,3.879,77.58,775.80,2019-03-17,2155_180_2019-03-17
91084362,14257287,1552709119,297,9799,2155,20,200,2.810,56.20,618.20,2019-03-16,2155_200_2019-03-16
78450942,2393786,1552356143,297,295075,2155,20,140,8.193,163.86,1310.88,2019-03-12,2155_140_2019-03-12
84236693,34007438,1552532532,297,205402,2155,20,250,8.608,172.16,2324.16,2019-03-14,2155_250_2019-03-14
90162617,17663420,1552717927,297,962086,2155,20,200,3.734,74.68,821.48,2019-03-16,2155_200_2019-03-16
82804392,63503737,1552541939,297,9799,2155,20,200,2.843,56.86,625.46,2019-03-14,2155_200_2019-03-14
99231693,37929779,1552905646,297,680049,2155,20,160,4.910,98.20,883.80,2019-03-18,2155_160_2019-03-18
82226741,24336616,1552535109,297,341268,2155,20,250,3.017,60.34,814.59,2019-03-14,2155_250_2019-03-14
89202699,9039034,1552707608,297,1251655,2155,20,200,4.166,83.32,916.52,2019-03-16,2155_200_2019-03-16
93610059,48876297,1552820903,297,733291,2155,20,180,2.006,40.12,401.20,2019-03-17,2155_180_2019-03-17
94622170,30716000,1552817830,297,1278644,2155,20,180,2.113,42.26,422.60,2019-03-17,2155_180_2019-03-17
82344015,7436484,1552537533,297,116737,2155,20,200,3.758,75.16,826.76,2019-03-14,2155_200_2019-03-14
91350183,28389833,1552714118,297,1321489,2155,20,200,2.240,44.80,492.80,2019-03-16,2155_200_2019-03-16
78075946,65976655,1552367645,297,324703,2155,20,180,3.643,72.86,728.60,2019-03-12,2155_180_2019-03-12
92742803,83146897,1552824876,228,112028,2155,20,180,2.378,47.56,475.60,2019-03-17,2155_180_2019-03-17
96350466,96588876,1552902786,297,304380,2155,20,160,3.284,65.68,591.12,2019-03-18,2155_160_2019-03-18
91861976,31159177,1552705366,228,924180,2155,20,200,30.193,603.86,6642.46,2019-03-16,2155_200_2019-03-16

In [162]:
dates = pd.DataFrame({"day": pd.date_range(x1[x1['Id'] == 2155].day.min(), x1[x1['Id'] == 2155].day.max())})

In [173]:
dates = dates.astype(str)
tt1unique.day = tt1unique.day.astype(str)

In [178]:
t1 = pd.merge(tt1unique,dates,how = 'outer',on='day',sort=True)
t1.fillna(method='ffill')
#t2 = pd.concat([t1,tt1unique])

,Id,Date_x,Date,Bid,Crowd,Time,UpdateAttr,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize,day,idbidday
0,2155.0,1.552306e+09,1552340825,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-12,2155_140_2019-03-12
1,2155.0,1.552306e+09,1552477194,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-13,2155_140_2019-03-13
2,2155.0,1.552306e+09,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-14,2155_140_2019-03-14
3,2155.0,1.552306e+09,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-15,2155_140_2019-03-14
4,2155.0,1.552306e+09,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-16,2155_140_2019-03-14
5,2155.0,1.552306e+09,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-17,2155_140_2019-03-14
6,2155.0,1.552306e+09,1552562220,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-18,2155_140_2019-03-14
7,2155.0,1.552306e+09,1553003802,140,"age:217,601,202,942,638,394,347,731,739,393,36...","281474976710655,281474976710655,28147497671065...",3.0,27493.0,-1,1.0,2,20.0,2019-03-19,2155_140_2019-03-19

In [167]:
#t2.drop_duplicates(subset='day',keep='last')

            day           0
0    2019-03-12         NaN
1    2019-03-13         NaN
2    2019-03-14         NaN
3    2019-03-19         NaN
4    2019-03-15         NaN
5    2019-03-16         NaN
6    2019-03-17         NaN
7    2019-03-18         NaN
342         NaN  2019-03-19

In [102]:
# open ad_static_feature file
collist = ['Id','Date','AdAccountId','CommodityId','CommodityType','AdIndustryId','AdSize']
with open('ad_static_feature.out') as f:
    df = pd.read_csv(f,sep='\t',names = collist)

/Users/yaoyao/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [103]:
df[df['Id'] == 1957]

,Id,Date,AdAccountId,CommodityId,CommodityType,AdIndustryId,AdSize
108971,1957,1550827427,12134,-1,1,104,41

In [104]:
# open ad_operation file
collist2 = ['Id','Date','Type','UpdateAttr','UpdateAttrValue']
with open('ad_operation.dat') as f:
    df2 = pd.read_csv(f,sep='\t',names = collist2)

In [105]:
df2[df2['Id'] == 1957]

,Id,Date,Type,UpdateAttr,UpdateAttrValue
508986,1957,0,2,2,80
508987,1957,0,2,3,"age:829,79,847,144|area:10795,11414,10793|educ..."
508988,1957,0,2,4,"281474976710655,281474976710655,28147497671065..."
508989,1957,20190222172531,1,2,80
508990,1957,20190223164840,1,2,100
508991,1957,20190224000457,1,3,"age:829,79,847,144|area:10795,11414,10793|educ..."
508992,1957,20190225160301,1,1,0